body {
    display: inline-flexbox;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

header {
    background-color: rgb(46, 58, 97);
    color: white;
    height: 100px;
    text-align: center;
    padding-top: 10px;
}

h3 {
    margin-top: 0px;
}

#logo {
    height: 50px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 200px;
    background-color: white;
    margin: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 5px 3px rgb(199, 199, 199);
}

.input-wrapper i {
    align-items: center;
    color: rgb(135, 160, 235);
}

.input-wrapper input {
    border: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
}

nav {
    margin-top: 20px;
}

.paragrafo {
    margin-bottom: 10px;
    font-size: 1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.atalho {
    background-color: rgb(46, 58, 97);
    border: 2px solid;
    border-radius: 15px;
    color: white;
    text-align: center;
    height: 23px;
}

.atalho span {
    margin: 6px;
    font-size: 1rem;
}

.recomendacaoDoChef {
    margin-left: 13px;
    margin-top: 20PX;
}

.recomendacao div {
      display: inline-flexbox;
      width: 120px;
      margin-top: 10px;
}

.reco {
    border-radius: 10px;
    box-shadow: 2px 5px 3px 1px rgb(199, 199, 199);
    margin-bottom: 30px;
    height: 140px;
    display: inline-block;
    margin-left: 10px;
}
.reco img {
    width: 150px;
}

.dadosReco {
    margin-top: 5px;
    
}

.recomendacao {
    display: flex;
    width: 250px;
    height: 150px;
}

.recomendacao img {
    max-width: 100%;
    
}

.desc {
    font-size: 12px;
    text-align: center;
    margin-bottom: 5px;
}

.valor {
    color: red;
    font-size: 1.2rem;
    text-align: center;
    margin-left: 25px
}

.abertura {
    margin-left: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.itensMenu {
    display: flex;
    margin-top: 10px;
    height: 70px;
    box-shadow: 2px 5px 3px 1px rgb(199, 199, 199);
    
}


.desc {
    display: grid;
    margin-left: 15px;
    text-align: left;
    justify-content: space-evenly;
}

.titleItem {
    color: rgb(20, 27, 52);
    text-align: left;
    font-size: 1.2rem;
}

.descItem {
    font-size: 10px;
}

.valorSecundario {
    color: rgb(46, 58, 97);
    font-size: 1.2rem;
}